    <!-- Start We Are E-Shop -->
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">We Are E-Shop</h1>
                <p>
                    Bienvenue sur notre E-Shop, Notre objectif est de vous offrir la meilleure expérience de shopping possible, avec un site web convivial, une livraison rapide et fiable, et un excellent service client, bon shopping !
                </p>
            </div>
        </div>        
        <app-main-site-cate></app-main-site-cate>
</section>
    <!-- End We Are E-Shop -->
