    <!-- Start We Are E-Shop -->
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">We Are E-Shop</h1>
                <p>
                    Bienvenue sur notre E-Shop, Notre objectif est de vous offrir la meilleure expérience de shopping possible, avec un site web convivial, une livraison rapide et fiable, et un excellent service client, bon shopping !
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="shop"><img src="./assets/images/women-02.jpg" class="rounded-circle img-fluid border"></a>
                <h5 class="text-center mt-3 mb-3">Women</h5>
                <p class="text-center"><a href="women" class="btn btn-success">Go Shop</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="shop"><img src="./assets/images/men-02.jpg" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Men</h2>
                <p class="text-center"><a href="men" class="btn btn-success">Go Shop</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="shop"><img src="./assets/images/kid-01.jpg" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Kids</h2>
                <p class="text-center"><a href="kids" class="btn btn-success">Go Shop</a></p>
            </div>
        </div>
    </section>
    <!-- End We Are E-Shop -->
