<ul class="list-inline shop-top-menu pb-3 pt-1">
    <li class="list-inline-item">
        <a class="h3 text-dark text-decoration-none mr-3" href="shop">All</a>
    </li>
    <li class="list-inline-item">
        <a class="h3 text-dark text-decoration-none mr-3" href="men">Men's</a>
    </li>
    <li class="list-inline-item">
        <a class="h3 text-dark text-decoration-none" href="women">Women's</a>
    </li>
    <li class="list-inline-item">
        <a class="h3 text-dark text-decoration-none" href="kids">Kid's</a>
    </li>
</ul>