<div class="row">
<div class="col-12 col-md-4 p-5 mt-3">
    <a href="shop"><img src="./assets/images/women-02.jpg" class="rounded-circle img-fluid border"></a>
    <h5 class="text-center mt-3 mb-3">Women</h5>
    <p class="text-center"><a href="women" class="btn btn-success">Go Shop</a></p>
</div>
<div class="col-12 col-md-4 p-5 mt-3">
    <a href="shop"><img src="./assets/images/men-02.jpg" class="rounded-circle img-fluid border"></a>
    <h2 class="h5 text-center mt-3 mb-3">Men</h2>
    <p class="text-center"><a href="men" class="btn btn-success">Go Shop</a></p>
</div>
<div class="col-12 col-md-4 p-5 mt-3">
    <a href="shop"><img src="./assets/images/kid-01.jpg" class="rounded-circle img-fluid border"></a>
    <h2 class="h5 text-center mt-3 mb-3">Kids</h2>
    <p class="text-center"><a href="kids" class="btn btn-success">Go Shop</a></p>
</div>
</div>