<!-- Start Banner -->
<section class="bg-success py-5">
    <div class="container">
        <div class="row align-items-center py-5">
            <div class="col-md-8 text-white">
                <h1>About Us</h1>
                <p>
                    Ce projet s'inscrit dans le cadre des projets e-commerce que la société VevioSys a créée en réel. L'objectif de mon travail consiste à développer une application web de commerce. La partie front sera réalisée en utilisant les techniques web modernes qui base sur les "Component'" ANGULAR. La partie Back sera constituée d'un REST API un langage JAVA est le Framework spring. Pour la gestion des tâches on utilise des outils comme SCRUM, GIT, GITHUB.
                </p>
            </div>
            <div class="col-md-4">
                <img src="../../../assets/images/about-hero.svg" alt="About Hero">
            </div>
        </div>
    </div>
</section>
<!-- Close Banner -->